---
import Angular from '../icons/Angular.astro'
import Html from '../icons/Html.astro'
import Scss from '../icons/Scss.astro'
import Typescript from '../icons/Typescript.astro'

const tags = {
  angular: {
    name: 'Angular',
    class: 'bg-white text-[#DD0031]',
    icon: Angular
  },
  html: {
    name: 'HTML',
    class: 'bg-white text-[#E44D26]',
    icon: Html
  },
  scss: {
    name: 'SCSS',
    class: 'bg-white text-[#CD6799]',
    icon: Scss
  },
  typescript: {
    name: 'TypeScript',
    class: 'bg-white text-[#007ACC]',
    icon: Typescript
  }
}

const projects = [
  {
    title: 'Personal page | Jerogassan',
    description:
      'My first personal page where I show my professional career, my skills and my studies. A place to get to know me better and get in touch with me.',
    link: 'https://www.jerogassan.dev/',
    github: 'https://github.com/hitses/portfolio-jero',
    image: '/projects/jerogassan.webp',
    tags: [tags.html, tags.scss, tags.typescript, tags.angular]
  }
]
---

{
  projects.map(({ title, description, link, github, image, tags }) => (
    <article>
      <h3 class='text-2xl font-semibold text-[#D19501] mb-2'>{title}</h3>
      <p class='text-lg mb-4 text-pretty'>{description}</p>
      <ul class='flex gap-x-4 flex-row flex-wrap'>
        {tags.map(tag => (
          <li>
            <span
              class={`flex gap-x-2 rounded-full text-xs items-center py-1 px-2 mb-4 ${tag.class} hover:bg-white/90`}
            >
              <tag.icon class='size-5' />
              {tag.name}
            </span>
          </li>
        ))}
      </ul>
      <a href={link} target='_blank'>
        <img
          class='rounded shadow-xl shadow-white/10'
          src={image}
          alt={`Screenshot of project ${title}`}
        />
      </a>
    </article>
  ))
}
